body {
  background: #0b1622;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.card {
  background: #13293d;
  padding: 30px;
  margin: 20px auto;
  width: 300px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.05);
}
